# App
PORT=
APP_NAME=
DOMAIN_NAME=

# Media
S3_REGION=
S3_ENDPOINT=
S3_BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_KEY=

# Swagger
SWAGGER_USERNAME=
SWAGGER_PASSWORD=

# Database
DATABASE_URL=

# Authentication
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
PAYMENT_API_KEY=

# Admin User
ADMIN_EMAIL=
ADMIN_NAME=
ADMIN_PASSWORD=
ADMIN_PHONE_NUMBER=

# OAuth Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_CLIENT_REDIRECT_URI=

# OTP
OTP_EXPIRES_IN=

# EMAIL
RESEND_API_KEY=
RESEND_EMAIL=

# Redis
REDIS_URL=